*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  font-family: Verdana, Geneva, sans-serif;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 16px;
  min-width: 0;
  width: 100%;
  padding:4px;
  color: #000;
  background: #ff6600;
}
.title-wrapper a{
  padding: 0 6px;
  font-size: 12px;
  color: #222222;
  border-right: 1px solid black;
  border-width: thin;
  text-decoration: none;
}
.title-wrapper a:focus{
  color: #fff;
}
.left-header span:last-child{
  border-right: none;
}
.right-header{
  padding: 0 8px;
  font-size: 12px;
}
.footer-container{
  position:relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  background: #f6f6ef;
  color: #828282;
  border-top: 2px solid #ff6600;
  
}
.footer-search{
  text-align: center;
  padding: 8px 0 12px 0;
}
.footer-search label{
  font-size: 14px;
}
.footer-search input{
  font-size: 13px;
  outline: none;
  width: 88%;
  padding: 1px 2px;
}

.footer-links {
    text-align: center;
    margin-top: 10px;
}
.footer-links a{
  text-decoration: none;
  color: #828282;
  font-size: 11px;
  border-right: 1px solid #828282;
  padding: 0 4px;
}
.footer-links a:last-child{
  border: none;
  color: #000;
}
.news-container{
  background: #f6f6ef;
  line-height: 18px;
  padding:0 10px 10px 10px;
  min-height: 95vh;
  position: relative;
}
.news-title a{
  text-decoration: none;
  padding-right: 4px;
  color: #000;
  font-size: 13.66px;
  line-height: 19px;
  overflow: hidden;
}

.news-title-url a{
  color: #828282;
  font-size: 11px;
  word-break: break-word;
}
.news-title-url:hover{
  text-decoration: underline;
}
.news-info{
  color: #828282;
  font-size: 12px;
}
.news-wrapper{
  padding: 5px 0 5px 0;
}
.news-wrapper:first-child{
  padding-top: 10px;
}

.comments{
  text-decoration: none;
  color: #828282;
}
.comment-item{
  padding: 10px 0;
}

.comments-button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.comments:hover, .author:hover, .time:hover, .hide:hover, .past:hover{
  text-decoration: underline;
  cursor: pointer;
}
.comment-text{
  font-size: 13.33px;
  color: #000;
  word-break: break-word;
}
.comment-author, .comment-time{
  font-size: 11px;
  color: #828282;
}
.text-area{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.text-area-btn{
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: monospace;
  background: #efefef;
  padding: 2px 6px;
  border: 1px solid black;
  border-radius: 2px;
}
.text-area-btn:hover{
  background: #dfdfdf;
}
.logo img{
  border: 1.5px solid #fff;
  width: 20px;
  height: 20px;
}
.left-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
}
.header-title{
  padding-left: 6px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}
.pagination {
  padding: 20px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.pagination > .active > a{
  background-color: #ff6600 ;
  border-color: #ff6600 ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #000 ;
  padding: 2px 6px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #ff6600 ;
  border-color: #ff6600;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #828282;
  font-size: 14px;
  margin: 2px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}
.news-active{
  display: none;
}
.title-wrapper{
  cursor: pointer;
}
.links-wrapper{
  padding-left: 4px;
}
.error{
  font-size: 400px;
}

@media (min-width: 570px) and (max-width: 750px){
 .footer-search label{
   float: left;
   padding-right: 4px;
   padding-top: 2px;
 }
}

@media(min-width: 770px){
  input[type='text']{
    width: 170px;
    margin-left: 4px;
  }
  .footer-search{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .links-wrapper{
    display: flex;
    align-items: center;
  }
  .header-container{
    padding: 0;
  }
  .header-title{
    padding-left: 0;
  }
  #root{
    width: 87%;
    margin:  10px auto;
  }
}